body::before {
  display: block;
  content: '';
  height: 70px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.nav-item{
  font-family: 'Oswald', sans-serif;
  margin-right: 25px;
  font-size: 18px;
}



table > tbody > tr > * {
  vertical-align: middle;
}

table > tbody > tr > .tombol {
  padding-right: -30px;
}

.background-black{
  background-color: black;
}

.gambar{
  width: 80px;
}


.gambar-detail{
  margin-left: 100px;
  width: 320px;
}


.container-perangkat{
  width: 720px;
  background-color: #e9ece6;
  height: 600px;
  /* margin-top: 50px; */
}
.perangkat h1{
  padding-top: 15px;
}
form .perangkat{
  width: 510px;
  margin: 10px auto;
}


.img-iphone{
  padding-bottom: 0 !important;
}



.card-img-top {
  max-height: 250px;
  overflow: hidden;
}

.card-title a:link {
  font-size: 30px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.card-title a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}